
@import "material";
#devise-form {
  margin-left: 16px;
}

.input-group {
  margin-left: 16px;
  padding-right: 120px;
}

.input-group .btn {
  margin-left: 5px;
}

nav {
  margin-bottom: 16px !important;
}

.main-content {
  margin-left: 16px;
  margin-right: 16px;
}
