<p>Hello! Welcome to the Open Learning Platform! A platform for verified educators to upload lesson plans (that they have the legal rights to) in order to help with the education inequality issue.</p>
