<h2>Name</h2>
<h4><%= @lesson_plan.name %></h4>

<h2>Description</h2>
<h4><%= @lesson_plan.description %></h4>

<h2>Files:</h2>
<ul>
  <% @lesson_plan.contents.all.each do |file| %>
    <li><%= link_to file.filename, file, target: '_blank' %></li>
  <% end %>
</ul>

<% if current_educator.id == @lesson_plan.id %> 
  <%= link_to 'Edit', edit_lesson_plan_path(@lesson_plan) %>
<% end %>
